<% provide(:title, "Home") %>
<div class="center splash">
  <% if ! user_signed_in? %>
      <h1 class="sub">
        Save money on your online subscriptions. Join Shareflix!
      </h1>
    <%= link_to "Sign up now!", '/signup', class: "btn btn-lg btn-primary" %>
      <p>
        Already have an account? Login here:
      </p>
    <%= link_to "Log in", '/login', class: "btn btn-lg btn-primary" %>
  <% else %>
      <%= link_to "Share my plan", '/sharer', class: "btn btn-lg btn-primary" %>
      <%= link_to "Join a plan", '/joiner', class: "btn btn-lg btn-primary" %>
      <% if @my_contracts_joined && @my_contracts_joined.length > 0 %>
          <h1> Accounts you have joined: </h1>
          </br>
          <div class="row flexible-container">
              <% @my_contracts_joined.each do |contract| -%>
                <div>
                    <div class="card">
                        <div class="card-body">
                              <h4><b> <%= contract.service %> </b></h4>
                              <p>Account Owner: <%= contract.owner_email %></p>
                              <p>Username: <%= contract.account_username %></p>
                              <p>Password: <%= contract.account_password %></p>
                              <p>Price: <%= number_to_currency(contract.price) %></p>
                              <%= link_to "Message Owner", controller: "messages", action: "show", id: contract.id, class: "btn btn-lg btn-primary" %>
                        </div>
                    </div>
                </div>
              <% end -%>
          </div>
      <%end%>
      <% if @my_contracts_shared && @my_contracts_shared.length > 0 %>
          <h1> Accounts you have shared with others: </h1>
          </br>
          <div class="row flexible-container">
              <% @my_contracts_shared.each do |contract| -%>
                <div>
                    <div class="card">
                        <div class="card-body">
                            <h4><b><%= contract.service %></b></h4>
                            <p><b><%= contract.account_username %></b></p>
                            <p>Price: <%= number_to_currency(contract.price) %></p>
                            Shared with:
                            <% contract.joiners_array.each do |joiner| -%>
                                <%= link_to joiner.email, controller: "messages", action: "show", id: contract.id, class: "btn btn-lg btn-primary" %>
                            <% end -%>
                        </div>
                    </div>
                </div>
              <% end -%>
          </div>
      <%end %>
      <div>
      <% if @my_share_requests && @my_share_requests.length > 0 %>
         <h1> Accounts you are looking to share: </h1>
          </br>
            <div class="row flexible-container">
                <% @my_share_requests.each do |request| -%>
                  <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h4><b><%= request.service %></b></h4>
                      <p>Account: <b><%= request.account_id %></b></p>
                      <p>Spots left in the plan: <b><%= request.size %></b></p>
                    </div>
                  </div>
                  <% end -%>
            </div>
          
      </div>
      <% end %>
      <div>
      <% if @my_join_requests && @my_join_requests.length > 0 %>
         <h1> Pending join requests: </h1>
            <div class="row flexible-container">
                <% @my_join_requests.each do |request| -%>
                  <div class="card" style="width: 18rem;">
                      <div class="card-body">
                            <h4><b><%= request.service %></b></h4>
                            <p>Request submitted on: <b><%= request.created_at %></b></p>
                      </div>
                  </div>
                  <% end -%>
            </div>
          
      <%end %>
      </div>
  <% end %>
</div>
