<% provide(:title, "Home") %>
<div class="center splash">
  <% if ! user_signed_in? %>
      <h1 class="sub">
        Save money on your online subscriptions. Join Shareflix!
      </h1>
    <%= link_to "Sign up now!", '/signup', class: "btn btn-lg btn-primary" %>
      <p>
        Already have an account? Login here:
      </p>
    <%= link_to "Log in", '/login', class: "btn btn-lg btn-primary" %>
  <% else %>
      <%= link_to "Share my plan", '/sharer', class: "btn btn-lg btn-primary" %>
      <%= link_to "Join a plan", '/joiner', class: "btn btn-lg btn-primary" %>
      <div>
          Accounts you are looking to share:
          <%= @my_share_requests.length %>
      </div>
      <div>
          Pending join requests:
          <%= @my_join_requests.length %>
      </div>
      <div>
          Your accounts that you are currently sharing
          <%= @my_contracts_shared.length %>
      </div>
      <div>
          Accounts that you have joined
          <%= @my_contracts_joined.length %>
      </div>
  <% end %>
</div>
