<% provide(:title, "Home") %>
<div class="center splash">
  <% if ! user_signed_in? %>
      <h1 class="sub">
        Save money on your online subscriptions. Join Shareflix!
      </h1>
    <%= link_to "Sign up now!", '/signup', class: "btn btn-lg btn-primary" %>
      <p>
        Already have an account? Login here:
      </p>
    <%= link_to "Log in", '/login', class: "btn btn-lg btn-primary" %>
  <% else %>
      <%= link_to "Share my plan", '/sharer', class: "btn btn-lg btn-primary" %>
      <%= link_to "Join a plan", '/joiner', class: "btn btn-lg btn-primary" %>
      <div>
         <h1> Accounts you are looking to share: </h1>

          </br>

          <% if @my_share_requests != nil %>
            <% @my_share_requests && @my_share_requests.each do |request| -%>

              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h4><b><%= request.service %></b></h4>
                  <p>Account username/email: <b><%= request.account_id %></b></p>
                  <p>Number of spots left in the plan: <b><%= request.size %></b></p>   
                </div>
              </div>
            <% end -%>
          <% end -%>
      </div>
      <div>
         <h1> Pending join requests: </h1>
          <% if @my_join_requests != nil %>
            <% @my_join_requests.each do |request| -%>
              <div>
                  <div class="homepage-info-card">
                      <div class="homepage-info-card-container">
                            <h4><b><%= request.service %></b></h4>
                            <p>Request submitted on: <b><%= request.created_at %></b></p>
                      </div>
                  </div>
              </div>
            <% end -%>
          <% end -%>
      </div>
      <% if @my_contracts_shared && @my_contracts_shared.length > 0 %>
          <div>
              You are currently sharing <%= @my_contracts_shared.length %> accounts
          </div>
      <%end %>
      <% if @my_contracts_joined && @my_contracts_joined.length > 0 %>
          <div>
              You are currently sharing <%= @my_contracts_joined.length %> accounts
          </div>
      <%end%>
  <% end %>
</div>
