<div class="entire-message-container">
    <div class="message-container">
        <div>
            <% @messages.each do | message | -%>
                <div>
                    <% if current_user.nil? || message.sender_email == current_user.email  %>
                        <div class="bubble-holder">
                            <p class="speech-bubble-sender"> <%= message.content %> </p>
                        </div>
                    <% else %>
                        <div class="bubble-holder">
                            <p class="speech-bubble-receiver"><%= message.content %> </p>
                        </div>
                    <%end%>
                    
                </div>
            <% end -%>
        </div>
    </div>

    <hr>
    
    <%= form_for @message, :html => {id: 'message-form'} do |f| %>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= f.text_field :content, placeholder: "Message...", :class=>"mdl-textfield__input message-text-field"%> 
    </div>

    <%= f.hidden_field :contract_id, :value => @contract_id %>
    <% if current_user.nil? %>
        <%= f.hidden_field :sender_email, :value => "dummy@dummyemail.com" %>
    <% else %>
        <%= f.hidden_field :sender_email, :value => current_user.email %>
    <% end%>
    <%= f.submit "Send", :class=>"mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"%>
    <% end %>
</div>