<%= form_with(model: contract, local: true) do |form| %>
  <% if contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

      <ul>
      <% contract.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sharer_id, class: 'default-color' %>
    <%= form.text_field :sharer_id, id: :contract_sharer_id %>
  </div>

  <div class="field">
    <%= form.label :joiners_id, class: 'default-color' %>
    <%= form.text_field :joiners_id, id: :contract_joiners_id %>
  </div>

  <div class="field">
    <%= form.label :username , class: 'default-color'%>
    <%= form.text_field :username, id: :contract_username %>
  </div>

  <div class="field">
    <%= form.label :password , class: 'default-color'%>
    <%= form.password_field  :password, id: :contract_password %>
  </div>

  <div class="actions">
    <%= form.submit "Create Contract", :class => 'signin_button btn-primary' %>
  </div>
  
<% end %>
