<%= form_with(model: joiner, local: true) do |form| %>
  <% if joiner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(joiner.errors.count, "error") %> prohibited this joiner from being saved:</h2>

      <ul>
      <% joiner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :service, "Which streaming service are you looking to join?", class: 'default-color' %>
    <br>
    <%= select(:joiner, :service, [['Netflix', 'Netflix'], ['Hulu', 'Hulu'], ['Disney+', 'Disney+']]) %>
    <br><br>
    <%= form.hidden_field :user_id, :value => -1 %>
    <%= form.hidden_field :status, :value => "Pending" %>
  </div>

  <div class="actions">
    <%= form.submit 'Join A Group', :class => 'signin_button btn-primary' %>
  </div>
<% end %>
