<%= form_with(model: joiner, local: true) do |form| %>
  <% if joiner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(joiner.errors.count, "error") %> prohibited this joiner from being saved:</h2>

      <ul>
      <% joiner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :service, :value => "Netflix" %>
    <%= form.hidden_field :user_id, :value => current_user.id %>
    <%= form.hidden_field :status, :value => "Pending" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
