<%= form_with(model: sharer, local: true) do |form| %>
  <% if sharer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sharer.errors.count, "error") %> prohibited this sharer from being saved:</h2>

      <ul>
      <% sharer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">

    <%= form.label :service, "Which streaming service do you have?", class: 'default-color' %>
    <%= select(:sharer, :service, [['Netflix', 'Netflix'], ['Hulu', 'Hulu'], ['Prime Video', 'Prime Video']]) %>
    <br><br>
    <%= form.label :size, "Which plan do you have?", class: 'default-color' %>

    <br>
    <%= select(:sharer, :size, [['Standard', 'Standard'], ['Premium', 'Premium']]) %>
    <br><br>

    <%= form.label :account_id, "What is your account username", class: 'default-color' %>
    <%= form.text_field :account_id%>

    <%= form.label :account_password, "What is your account password", class: 'default-color' %>
    <%= form.text_field :account_password%>

    <%= form.hidden_field :user_id, :value => current_user.id %>
    <%= form.hidden_field :status, :value => "Pending" %>
  </div>
  
  <div class="actions">
    <%= form.submit 'Create Sharer', :class => 'signin_button btn-primary'%>
  </div>
<% end %>
